<% include ../partials/header %>

 <div class="jumbotron">
            <h1 class="display-3">Jireawat Paenkaew</h1>
            <p class="lead">Software Engineer 5930213009 </p>
            <hr class="my-2">
            
           
           
           
        </div>



 <% include ../partials/footer %>