<% include ../partials/header %>

 <div class="jumbotron">
            <h1 class="display-3">Express</h1>
            <p class="lead">static container</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                
            </p>
           
        </div>



 <% include ../partials/footer %>